<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966589387691-p833jhno7ca343nhi5u60gq0mld8c0c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966589387691-p833jhno7ca343nhi5u60gq0mld8c0c1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966589387691-cekc8jljrdm6865rul740au12ttfj41r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASiYzPah9IwD3hopa4Z-9pm2EgpIv6Byk</string>
	<key>GCM_SENDER_ID</key>
	<string>966589387691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rita.EMIapp</string>
	<key>PROJECT_ID</key>
	<string>emisurvey-be5b8</string>
	<key>STORAGE_BUCKET</key>
	<string>emisurvey-be5b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966589387691:ios:df1e4390840a38fd4878ee</string>
</dict>
</plist>